<flynt-component name="BlockImageText" class="componentSpacing" {{ options.theme ? 'data-theme="' ~ options.theme ~ '"' }} {{ background.type=='color' ? 'data-theme="'~background.color ~ '"'}} {% if background.type in ['image','video','gradient'] %} data-has-background {% endif %} {% if background.type == 'image' and background.parallax %} style="background-image: url('{{ background.image.src }}');bacground-position:center;" data-parallax {% endif %} {% if background.type=='gradient' %} data-background-gradient {% endif %}>
	{% if background.type in ['image','video'] and not background.parallax %}
		{% include 'Partials/_background.twig' %}
	{% endif %}
	<div class="container" {{ imagePosition ? 'data-image-position="' ~ imagePosition ~ '"' }}>
		{% if image %}

			{% if parallax %}

				<div class="image-container" data-scroll-container>

				{% endif %}
				<figure class="figure" data-size="medium" data-align="center" {% if parallax %} data-scroll-section {% endif %}>

					{% if image.post_mime_type == 'image/svg+xml' %}


						<img {% if parallax %} data-scroll data-scroll-speed="-0.1" data-scroll-position='middle' {% endif %} class="figure-image-svg lazyload" src="{{ placeholderImage(image.width, image.height, 'rgba(125, 125, 125, 0.1)') }}" width="{{ image.width }}" height="{{ image.height }}" data-src="{{ image.src }}" alt="{{ image.alt|e }}">
					{% else %}
						<img {% if parallax %} data-scroll data-scroll-speed="-0.07" data-scroll-position='middle,end' data-scroll-offset="25%,-15%" {% endif %} class="figure-image lazyload" src="{{ image.src|resizeDynamic(768) }}" width="{{ image.width }}" height="{{ image.height }}" srcset="{{ placeholderImage(image.width, image.height, 'rgba(125, 125, 125, 0.1)') }}" data-srcset="{{ image.src|resizeDynamic(1920) }} 1920w, {{ image.src|resizeDynamic(1600) }} 1600w, {{ image.src|resizeDynamic(1440) }} 1440w, {{ image.src|resizeDynamic(1366) }} 1366w, {{ image.src|resizeDynamic(1024) }} 1024w, {{ image.src|resizeDynamic(768) }} 768w, {{ image.src|resizeDynamic(640) }} 640w" data-sizes="auto" alt="{{ image.alt|e }}">
					{% endif %}
					{% if image.caption %}
						<figcaption>{{ image.caption|e }}</figcaption>
					{% endif %}
				</figure>
				{% if parallax %}
				</div>

			{% endif %}
		{% endif %}

		<div data-size="medium" data-align="center">
			{{ contentHtml|e('wp_kses_post') }}
			{% if CTA_links %}
				{% include('Partials/_buttons.twig') %}
			{% endif %}
		</div>

		{% if ctaButton %}
			<a class="button" href="{{ctaButton.url}}">{{ctaButton.title}}</a>
		{% endif %}
	</div>
</flynt-component>
