<flynt-component name="GridCustomContents" class="componentSpacing" {{ options.theme ? 'data-theme="' ~ options.theme ~ '"' }} {{ background.type=='color' ? 'data-theme="'~background.color ~ '"'}} {% if background.type in ['image','video'] %} data-has-background {% endif %} {% if background.type == 'image' and background.parallax %} style="background-image: url('{{ background.image.src }}');" data-parallax {% endif %} data-columns="{{options.columnsPerRow}}" data-grid-spacing="{{options.columnsGap}}">
	{% if background.type in ['image','video'] and background.parallax!=true %}
		{% include 'Partials/_background.twig' %}
	{% endif %}
	<div class="container" {{ imagePosition ? 'data-image-position="' ~ imagePosition ~ '"' }}>
		<div data-size="{{options.size}}" data-align="center">
			{% if titles %}
				<{{options.headerSlots}} class='titles'>
					{% if titles.uppertile %}
						<span class='uppertitle>{{titles.uppertitle}}</span>
																																																													{% endif %}
																																																													{{titles.title}}
																																																													{% if titles.subtitle %}
																																																														<span class=' subtitle'>{{titles.subtitle}}</span>
					{% endif %}

				</{{options.headerSlots}}>
			{% endif %}

			{{ contentHtml|e('wp_kses_post') }}
			{% if columns %}

				{% include('Partials/_items.twig') %}
			{% endif %}
		</div>
	</div>
</flynt-component>
